<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<style type="text/css">
    @page  {
        /*margin: 0;*/
        margin-left: 0.6cm;
    }
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        border: none;
    }

    .tg tr {
        height: 0.5cm;
    }

    .tg td {
        font-family: 'Microsoft Sans Serif' , Arial, Helvetica, Verdana, sans-serif;
        font-size: 14px;
        /*padding: 4px 5px;*/
        border-style: solid;
        border-width: 0px;
        overflow: hidden;
        word-break: normal;
    }

    .tg th {
        font-family: 'Microsoft Sans Serif' , Arial, Helvetica, Verdana, sans-serif;
        font-size: 14px;
        font-weight: normal;
        /*padding: 4px 5px;*/
        border-style: solid;
        border-width: 0px;
        overflow: hidden;
        word-break: normal;
    }

    .tg .tg-cw2b {
        font-size: 9px;
        /*font-family: Arial, Helvetica, sans-serif !important;*/
        font-family: 'Microsoft Sans Serif' , Arial, Helvetica, Verdana, sans-serif;
        vertical-align: top
    }

</style>
<table class="tg">
    <tr style="height:3cm">
        <th class="tg-cw2b" style="width:2.0cm"><br><br><br><br><br><br><br><br><br></th>
        <th class="tg-cw2b" style="width:4.7cm"><br></th>
        <th class="tg-cw2b" style="width:0.7cm"><br></th>
        <th class="tg-cw2b" style="width:2.7cm"><br></th>
        <th class="tg-cw2b" style="width:1.6cm"><br></th>
        <th class="tg-cw2b" style="width:1.5cm"><br></th>
        <th class="tg-cw2b" style="width:1.5cm"><br></th>
        <th class="tg-cw2b" style="width:0.6cm"><br></th>
        <th class="tg-cw2b" style="width:0.6cm"><br></th>
        <th class="tg-cw2b" style="width:2.3cm"><br></th>
    </tr>

    <tr>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b" colspan="4">0506-060599-100-2</td>
        <td class="tg-cw2b" colspan="2"></td>
        <td class="tg-cw2b">30-07-2018</td>
    </tr>

    <tr>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b">EL MANGUITO S.A. DE C.V.</td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b" colspan="2">N° ORDEN</td>
        <td class="tg-cw2b">59342</td>
    </tr>

    <tr>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b" colspan="6">EL CONACASTE, PJE EL ROBLE, LOCAL 45, SAN SALVADOR</td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
    </tr>

    <tr>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b" colspan="3">CREDITO 30 DIAS</td>
    </tr>

    <tr>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b" colspan="3">JOSE JUAN PEREZ</td>
    </tr>

    <!--<tr>-->
        <!--<td class="tg-cw2b"></td>-->
        <!--<td class="tg-cw2b"></td>-->
        <!--<td class="tg-cw2b"></td>-->
        <!--<td class="tg-cw2b"></td>-->
        <!--<td class="tg-cw2b"></td>-->
        <!--<td class="tg-cw2b"></td>-->
        <!--<td class="tg-cw2b"></td>-->
        <!--<td class="tg-cw2b"></td>-->
        <!--<td class="tg-cw2b"></td>-->
        <!--<td class="tg-cw2b"></td>-->
    <!--</tr>-->

    <tr>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
    </tr>

    <tr>
        <td class="tg-cw2b"><br></td>
        <td class="tg-cw2b"><br></td>
        <td class="tg-cw2b"><br></td>
        <td class="tg-cw2b"><br></td>
        <td class="tg-cw2b"><br></td>
        <td class="tg-cw2b"><br></td>
        <td class="tg-cw2b"><br></td>
        <td class="tg-cw2b"><br></td>
        <td class="tg-cw2b"><br></td>
        <td class="tg-cw2b"><br></td>
    </tr>

    <tr>
        <td class="tg-cw2b">XXX123</td>
        <td class="tg-cw2b" colspan="3">PRODUCTO XXX123</td>
        <td class="tg-cw2b">KGS</td>
        <td class="tg-cw2b">10</td>
        <td class="tg-cw2b">$99.99</td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b">$999.90</td>
    </tr>

    <tr>
        <td class="tg-cw2b">XXX123</td>
        <td class="tg-cw2b" colspan="3">PRODUCTO XXX123</td>
        <td class="tg-cw2b">KGS</td>
        <td class="tg-cw2b">10</td>
        <td class="tg-cw2b">$99.99</td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b">$999.90</td>
    </tr>

    <tr>
        <td class="tg-cw2b">XXX123</td>
        <td class="tg-cw2b" colspan="3">PRODUCTO XXX123</td>
        <td class="tg-cw2b">KGS</td>
        <td class="tg-cw2b">10</td>
        <td class="tg-cw2b">$99.99</td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b">$999.90</td>
    </tr>

    <tr>
        <td class="tg-cw2b">--</td>
        <td class="tg-cw2b" colspan="3"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
    </tr>

    <tr>
        <td class="tg-cw2b">--</td>
        <td class="tg-cw2b" colspan="3"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
    </tr>

    <tr>
        <td class="tg-cw2b">--</td>
        <td class="tg-cw2b" colspan="3"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
    </tr>

    <tr>
        <td class="tg-cw2b">--</td>
        <td class="tg-cw2b" colspan="3"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
    </tr>

    <tr>
        <td class="tg-cw2b">--</td>
        <td class="tg-cw2b" colspan="3"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
    </tr>

    <tr>
        <td class="tg-cw2b">--</td>
        <td class="tg-cw2b" colspan="3"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
    </tr>

    <tr>
        <td class="tg-cw2b">--</td>
        <td class="tg-cw2b" colspan="3"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
    </tr>

    <tr>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b" colspan="5">NOVECIENTOS NOVENTA Y NUEVE DOLARES CON NOVENTA CENTAVOS</td>
        <td class="tg-cw2b">SUBTOTAL</td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b">$999.90</td>
    </tr>
    <tr>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
    </tr>
    <tr>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
    </tr>
    <tr>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b">TOTAL</td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b">$999.90</td>
    </tr>
    <tr>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
        <td class="tg-cw2b"></td>
    </tr>
</table>
</body>
</html>
